/*Tracklist CSS module*/
/*Mobile*/

@media only screen and (max-width: 767px) {

    .desktopText {
        display: none;
    }

    .mobileText {
        display: inline;
    }


    .playlistName {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .playlistName input {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1.2rem;
    }

    .submitButton {
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: 10px;

        background-color: rgba(120, 80, 150, 0.8);
        color: white;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
        transition: background-color 0.25s ease, box-shadow 0.25s ease;

        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: gold;
    }



    @keyframes flashGold {
        0% {
            background-color: rgba(30, 30, 90, 0.8);
        }

        50% {
            background-color: goldenrod;
        }

        100% {
            background-color: rgba(140, 100, 170, 0.8);
        }
    }

    .flash {
        animation: flashGold 0.5s;
    }

}

/*Desktop*/

@media only screen and (min-width: 768px) {

    .desktopText {
        display: inline;

    }

    .mobileText {
        display: none;

    }


    .playlistName {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .playlistName input {
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ddd;
        font-size: 1.2rem;
    }



    .submitButton {
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: 10px;

        background-color: rgba(120, 80, 150, 0.8);
        color: white;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
        transition: background-color 0.25s ease, box-shadow 0.25s ease;

        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: gold;
        cursor: pointer;


    }

    .submitButton:hover {
        background-color: rgba(140, 100, 170, 0.8);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.8), 0 4px 12px rgba(255, 215, 0, 0.6);
    }


    @keyframes flashGold {
        0% {
            background-color: rgba(30, 30, 90, 0.8);
        }

        50% {
            background-color: goldenrod;
        }

        100% {
            background-color: rgba(140, 100, 170, 0.8);
        }
    }

    .flash {
        animation: flashGold 0.5s;
    }
}