/*Track CSS module*/

/* Mobile */
@media only screen and (max-width: 767px) {
    .trackContainer {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 5px;
        background-color: rgba(255, 0, 0, 0.1);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.2);
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .albumArt {
        width: 134px;
        height: 100px;
        object-fit: cover;  
        margin-right: 15px;
        margin: 0 auto;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    }

    .trackInfo {
        display: flex;
        align-items: center; 
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5px;
    }

    .artistName, .albumTitle, .trackName {
        margin: 2px 0; 
    }
    
    .artistName {
        font-weight: bold;
    }
    
    .albumTitle {
        font-style: italic;
    }
    
    .trackName {
       
    }
    
    .trackDuration {
    
    }
    
    .removeButton {
        display:block;
        background-color: #FF4F5E; 
        border: none;
        border-radius: 5px;
        color: #FFF;
        cursor: pointer;
        margin-left: auto;
        margin: 10px auto;
        padding: 5px 15px;
        transition: background-color 0.2s;
    }
    


}

@media only screen and (min-width: 768px) {

/* Container */
.trackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px;
    border-radius: 8px;  
    margin: 10px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.trackInfo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 10px; 
}


.trackContainer:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

/* Image */
.albumArt {
    width: 134px;
    height: 100px;
    object-fit: cover;  
    margin-right: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

/* Text */
.artistName, .albumTitle, .trackName {
    margin: 2px 0; 
}

.artistName {
    font-weight: bold;
}

.albumTitle {
    font-style: italic;
}

.trackName {
   
}

.trackDuration {

}

.removeButton {
    background-color: #FF4F5E; 
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    margin-left: auto; 
    padding: 5px 15px;
    transition: background-color 0.2s;
}

.removeButton:hover {
    background-color: #E43F4D;  
}
}