/* Mobile */
@media only screen and (max-width: 767px) {
    .mainContainer {
        flex-direction: column;
        gap: 10px;
    }

    .searchContainer, .tracklistContainer {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
    }
}

.successfulLoginText {
    color: gold;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

.mainContainer {
    width: 100%;
    display: flex;
    gap: 20px; 
}

.searchContainer {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 20px;
}

.tracklistContainer {
    flex: 1; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px;
    padding: 20px;
}
